<li>
  <span class="title"><%= question.title %></span>
  <span class="timestamp">
  	<small>
    	Posted <%= time_ago_in_words(question.created_at) %> ago.
    </small>
  </span>
  <% if current_user?(question.user) %>
  	<%= link_to "delete", question, method: :delete, data: { confirm: "You sure?" }, title: question.title %>
  	<% end %>
</li>