<% provide(:title, '') %>
<div>
		<section>
			<h3>
			<% User.select([:name, :email]).each do |us| %>
			<%= gravatar_for us %>
  			User name is <%= us[:name] %> </br> 
  			Email is <%= us[:email] %> 
			<% end %>
			</h3>
  		</section>
</div>