<% provide(:title, 'About') %>
<h2>About</h2>
<p>
	The application is an open source project to make social quiz for statistic report generation about people from different countries. 
	It is based on Ruby, Rails and Heroku.
</p>
