<% provide(:title, '') %>
<% if signed_in? %>
   	<div class="row">
     	<aside class="span4">
      		<section>
        		<%= render 'shared/user_info' %>
      		</section>
      		<section>
        		<%= render 'shared/question_form' %>
      		</section>
    	</aside>
  	</div>  
<% else %>
	<div class="center hero-unit">
	  	<h2>Welcome to the Social Quiz</h2>
	  	<div>
	  		<img class="img-circle" src="assets/picture.png">
	  	</div>
	  	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>

