<% provide(:title, '') %>
	<div class="center hero-unit">
	  	<h2>Welcome to the Social Quiz</h2>
	  	<div>
	  		<img class="img-circle" src="assets/picture.png">
	  	</div>
	  	<%= link_to "Add question", new_question_path, class: "btn btn-large btn-primary" %>
	</div>

